<div class="container">
  <form
    class="row g-3 needs-validation"
    novalidate
    [formGroup]="userFormBuilder"
    (ngSubmit)="sendUserForm()"
  >
    <div class="row localGroupAddress">
      <div class="col-md-6 position-relative">
        <label class="form-label">Name</label>
        <input type="text" class="form-control" formControlName="name" />
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="
            this.userFormBuilder.controls['name'].errors &&
            this.userFormBuilder.controls['name'].touched
          "
        >
          <small>
            Please fixing the name field Mix 10 letters Max 100 letters
          </small>
        </div>
      </div>
      <div class="col-md-6 position-relative">
        <label class="form-label">UserName</label>
        <input type="text" class="form-control" formControlName="username" />
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="
            this.userFormBuilder.controls['name'].errors &&
            this.userFormBuilder.controls['name'].touched
          "
        >
          <small>
            Please fixing the UserName field Mix 2 letters Max 10 letters
          </small>
        </div>
      </div>
      <div class="col-md-6 position-relative">
        <label class="form-label">Phone</label>
        <input type="text" class="form-control" formControlName="phone" />
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="
            this.userFormBuilder.controls['phone'].errors &&
            this.userFormBuilder.controls['phone'].touched
          "
        >
          <small>
            Please fixing the Phone field Mix 9 letters Max 12 letters
          </small>
        </div>
      </div>
      <div class="col-md-6 position-relative">
        <label class="form-label">Email</label>
        <div class="input-group">
          <!-- <span class="input-group-text" >www.</span> -->
          <input type="text" class="form-control" formControlName="email" />
        </div>
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="
            this.userFormBuilder.controls['email'].errors &&
            this.userFormBuilder.controls['email'].touched
          "
        >
          Please fixing the email field Ex: youremail@seuprovedor.pt or else
        </div>
      </div>
    </div>
    <!-- || this.userFormBuilder.controls['email'].errors?.['required']  -->
    <!--   Group Address -->
    <div class="row" formGroupName="address">
      <div class="col-md-3 position-relative">
        <label class="form-label">Street</label>
        <input type="text" class="form-control" formControlName="street" />
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="
        this.userFormBuilder.get(['address','street'])?.touched && 
          this.userFormBuilder.get('address.street')?.errors?.['required']
        "
        >
          Please fixing the street field Mix 3 letters Max 30 letters
        </div>
      </div>
      <div class="col-md-3 position-relative">
        <label class="form-label">Suite</label>
        <div class="input-group has-validation">
          <span class="input-group-text">Nº</span>
          <input type="text" class="form-control" formControlName="suite" />
          <div
            class="alert alert-danger"
            role="alert"
            *ngIf="
        this.userFormBuilder.get(['address','suite'])?.touched && 
          this.userFormBuilder.get('address.suite')?.errors?.['required']
        "
          >
            Please fixing the suite field Mix 1 letters Max 10letters
          </div>
        </div>
      </div>
      <div class="col-md-3 position-relative">
        <label class="form-label">City</label>
        <input type="text" class="form-control" formControlName="city" />
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="
      this.userFormBuilder.get(['address','city'])?.touched && 
        this.userFormBuilder.get('address.city')?.errors?.['required']
      "
        >
          Please fixing the street field Mix 2 letters Max 30 letters
        </div>
      </div>
      <div class="col-md-3 position-relative">
        <label class="form-label">ZipeCode</label>
        <input type="text" class="form-control" formControlName="zipecode" />
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="
      this.userFormBuilder.get(['address','zipecode'])?.touched && 
        this.userFormBuilder.get('address.zipecode')?.errors?.['required']
      "
        >
          Please fixing the street field Mix 3 letters Max 7 letters
        </div>
      </div>
    </div>
    <!-- Group Company -->
    <div class="row" formGroupName="company">
      <div class="col-md-4 position-relative">
        <label class="form-label">Company Name</label>
        <input type="text" class="form-control" formControlName="name" />
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="
      this.userFormBuilder.get(['company','name'])?.touched && 
        this.userFormBuilder.get('company.name')?.errors?.['required']
      "
        >
          Please fixing the company name field Mix 1 letters Max 20 letters
        </div>
      </div>
      <div class="col-md-4 position-relative">
        <label class="form-label">Company CatchPhrase</label>
        <input type="text" class="form-control" formControlName="catchphrase" />
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="
      this.userFormBuilder.get(['company','catchphrase'])?.touched && 
        this.userFormBuilder.get('company.catchphrase')?.errors?.['required']
      "
        >
          Please fixing the company catchphrase field Mix 1 letters Max 20
          letters
        </div>
      </div>
      <div class="col-md-4 position-relative">
        <label class="form-label">Company Bs</label>
        <input type="text" class="form-control" formControlName="bs" />
        <div class="invalid-tooltip"></div>
      </div>
      <div
        class="alert alert-danger"
        role="alert"
        *ngIf="
  this.userFormBuilder.get(['company','bs'])?.touched && 
    this.userFormBuilder.get('company.bs')?.errors?.['required']
  "
      >
        Please fixing the company bs field Mix 1 letters Max 20 letters
      </div>
    </div>
    <div class="col-2">
      <button class="btn btn-primary" [disabled]="!this.userFormBuilder.valid">
        Submit form
      </button>
    </div>
    <div class="col-10">
      <button class="btn btn-danger" routerLink="/users" (click)="resetForm()">
        Cancel
      </button>
    </div>
  </form>
</div>
<!-- ModalService -->
<div
  class="container"
  appModal
  [showDisplayModal]="this.showDisplayModal"
  [localTitle]="this.modalTitle"
  [localMessage]="this.modalMessage"
></div>
