<div class="container">
  <form
    class="row g-3 needs-validation"
    novalidate
    [formGroup]="userFormBuilder"
    (ngSubmit)="sendUserForm()"
  >
    <div class="row localGroupAddress">
      <div class="col-md-6 position-relative">
        <label class="form-label">Name</label>
        <input
          type="text"
          class="form-control"
          formControlName="name"
        />
        <div class="valid-tooltip">Looks good!</div>
      </div>
      <div class="col-md-6 position-relative">
        <label class="form-label">UserName</label>
        <input type="text" class="form-control"   formControlName="username"/>
        <div class="valid-tooltip">Looks good!</div>
      </div>
      <div class="col-md-6 position-relative">
        <label class="form-label">Phone</label>
        <input type="text" class="form-control" formControlName="phone" />
        <div class="invalid-tooltip">Please provide a valid phone.</div>
      </div>
      <div class="col-md-6 position-relative">
        <label class="form-label">Email</label>
        <div class="input-group">
          <!-- <span class="input-group-text" >www.</span> -->
          <input type="text" class="form-control" formControlName="email" />
          <div class="invalid-tooltip">
            Please choose a unique and valid username.
          </div>
        </div>
      </div>
    </div>

    <!--   Group Address -->
    <div class="row" formGroupName="address">
      <div class="col-md-3 position-relative">
        <label class="form-label">Street</label>
        <input type="text" class="form-control" formControlName="street"  />
        <div class="invalid-tooltip"></div>
      </div>
      <div class="col-md-3 position-relative">
        <label class="form-label">Suite</label>
        <input type="text" class="form-control" formControlName="suite" />
        <div class="invalid-tooltip"></div>
      </div>
      <div class="col-md-3 position-relative">
        <label class="form-label">City</label>
        <input type="text" class="form-control" formControlName="city" />
        <div class="invalid-tooltip"></div>
      </div>
      <div class="col-md-3 position-relative">
        <label class="form-label">ZipeCode</label>
        <input type="text" class="form-control" formControlName="zipecode" />
        <div class="invalid-tooltip"></div>
      </div>
    </div>
    <!-- Group Company -->
    <div class="row" formGroupName="company">
      <div class="col-md-4 position-relative">
        <label class="form-label">Company Name</label>
        <input type="text" class="form-control" formControlName="name">
        <div class="invalid-tooltip"></div>
      </div>
      <div class="col-md-4 position-relative">
        <label class="form-label">Company CatchPhrase</label>
        <input type="text" class="form-control" formControlName="catchphrase" />
        <div class="invalid-tooltip"></div>
      </div>
      <div class="col-md-4 position-relative">
        <label class="form-label">Company Bs</label>
        <input type="text" class="form-control" formControlName="bs"/>
        <div class="invalid-tooltip"></div>
      </div>
      <div class="col-md-8 position-relative"></div>
    </div>
    <div class="col-2">
      <button class="btn btn-primary">Submit form</button>
    </div>
    <div class="col-10">
      <button class="btn btn-danger" routerLink="/users">Cancel</button>
    </div>
  </form>
</div>
